################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LiveIcons/x64
/x64
/.vs/LiveIcons/v17
