################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/LiveIcons/obj
/Testing/obj
/Testing/Testing.vcxproj.user