[submodule "zlib"]
	path = zlib
	url = https://github.com/dreshetnyak/zlib.git
[submodule "libmobi"]
	path = libmobi
	url = https://github.com/dreshetnyak/libmobi.git
[submodule "chmlib"]
	path = chmlib
	url = https://github.com/dreshetnyak/chmlib.git
